/*=============== CARD ===============*/
.container {
  display: grid;
  place-items: center;
}

.card--article {
  position: relative;
  align-self: flex-end;
  display: flex;
  justify-content: center;
}

.card--profile,
.card--mask {
  width: 100px;
  height: 100px;
  background-color: var(--gray-color);
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.card--profile img,
.card--mask img {
  width: 95px;
}

.card--profile {
  z-index: 5;
  border: 4px solid var(--container-color);
  transition: opacity 0.4s, transform 0.4s;
}

.card--tooltip {
  position: absolute;
  bottom: -2rem;
  padding-bottom: 5rem;
  transition: opacity 0.4s, bottom 0.4s cubic-bezier(0.6, -0.5, 0.3, 1.5);
  pointer-events: none;
  opacity: 0;
}

.card--content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  width: 300px;
  background-color: white;
  box-shadow: 0 16px 32px hsla(230, 50%, 20%, 0.1);
  padding: 20px 24px;
  padding-bottom: 32px;
  border-radius: 1.5rem;
}

.card--content::after {
  content: "";
  width: 32px;
  height: 32px;
  background-color: white;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -0.75rem;
  margin-inline: auto;
  border-radius: 0.25rem;
  rotate: 45deg;
}

.card--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
}

.card--header span {
  color: var(--title-color);
  font-weight: 500;
}

.card--social {
  display: flex;
  column-gap: 0.75rem;
}

.card--social a {
  font-size: 1.25rem;
  color: var(--title-color);
}

.card--image {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 0 auto 1rem;
}

.card--status {
  width: 12px;
  height: 12px;
  background-color: var(--second-color);
  position: absolute;
  top: 0.5rem;
  right: 0.75rem;
  border-radius: 50%;
  border: 2px solid var(--container-color);
}

.card--data {
  text-align: center;
}

.card--name {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.card--profession {
  font-size: var(--normal-font-size);
  font-weight: 500;
  margin-bottom: 2rem;
}

.card--button {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  color: var(--first-color);
  font-weight: 500;
}

.card--button i {
  font-size: 1.25rem;
}

/* Scale profile image */
.card--article:hover .card--profile {
  transform: scale(0.8);
  opacity: 0.6;
}

/* Show tooltip card */
.card--article:hover .card--tooltip {
  z-index: 100;
  opacity: 1;
  pointer-events: initial;
  bottom: 4rem;
}

.bar {
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: black;
  opacity: 0.2;
  border-radius: 12px;
}
