@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .logo {
    @apply p-3 rounded-full bg-purple-700 text-2xl text-white ; 
  }
  .logo_teammember {
    @apply p-2 rounded-full bg-purple-700 text-lg text-white ; 
  }


  .card{
    @apply py-6 pr-12 lg:pr-6 cursor-pointer lg:h-56 flex lg:flex-row  gap-6 justify-center items-center w-full rounded-md p-5 text-black bg-slate-200  shadow-xl backdrop-blur-md
  }
  .cardImage{
    @apply w-12 h-12 lg:h-24 lg:w-24 xl:h-32 xl:w-32 ; 
  }

  .main-bg{
    background-image: url('../assets/images/Skyline1.webp');
    background-size: cover;
  }
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

html {
  scroll-behavior: smooth;
}
